body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  top: 0;
  background-color: white;
}

a:link{
  text-decoration: none;
  color: black;
}

a:visited{
  text-decoration: none;
  color: black;
}

header{
margin-top: -7.25rem;
background-color:white;
height: 4.5rem;
z-index: 9999;
position: fixed;
width: 100%;
box-shadow: 7px 7px 5px grey;

}



.logobar{

  left: 3rem;
  margin-left: 0.75rem;
  width: 100%;
  margin-top: 1rem;
}


.navigation-bar{
  position: fixed;
  right: 0;
  margin-top: -2rem;

}



.logo {

  left: 0;
  font-family: Roboto;
  font-size: 40px;
  font-weight: bold;


}

nav {
 display: flex;
 justify-content: flex-end;

}

nav a{
  padding-left: : 3rem;
  padding-right: 3rem;
  font-size: 16px;
  font-weight: 300;

}

nav a:hover{
  color: #d6a544;
}

nav a:active{
  color: #d6a544;
  font-weight: 450;

}


nav a:active{
  color: #d6a544;
  font-weight: 450;

}

nav a:target{
  color: #d6a544;
  font-weight: 450;

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}

input[type=submit] {

  border-radius: 2px;
  border: 0px;
  color: #000000;
  text-shadow: none;
  background-color: #ffffff;
  padding: .75rem 1.5rem;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

input[type=submit]:hover {
  color: #ffffff;
  background-color: #d6a544;
}

.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 50px;
    margin-right: 18%;
    margin-left: 18%;
}

 h4{

  text-align: center;
  margin-top: 100px;
  font-size: 23px;
  text-decoration: none;
  font-weight: 500;


}

#line{
border-left: 3rem;
border-bottom: 3px solid #d6a544;
padding-bottom: 1rem;
width: 3rem;
margin: auto;
}






.footnav{
  background-color: #383838;
  height: 6rem;

}

.socialnav{

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.icon{
  width: 38px;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top:20px;
}

.copywright {

  left: 0;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  color: white;
  position: absolute;
  margin-left: 10%;
  margin-top: 1.5rem;


}

@media screen and (max-width: 650px){


  header{
  margin-top: -3.00rem;
  background-color:white;
  position: absolute;
  width: 100%;
  box-shadow: 7px 7px 5px grey;
  height: 4.5rem;

  }

  .logobar{



    margin-top: 1.5rem;
    margin-left: 46%;
  }






  .logo {

    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;

  }


.navigation-bar{

 top: 6.5rem;
 width: 100%;
 position:absolute;
 text-align:center;

}

.navhead a{
  display: block;
  width: 100%;
}

nav {
 display: block;
 width: 100%;

}

nav a{
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  background-color: white;
  width: 100%;
  border-top-color: lightgrey;
  border-top-style: solid;
  border-top-width: 1px;
}

nav a:hover{
  background-color: #ededed;
}

nav a::selection{
  background-color: #ededed;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}

input[type=submit] {

  border-radius: 2px;
  border: 0px;
  color: #000000;
  text-shadow: none;
  background-color: #ffffff;
  padding: .75rem 1.5rem;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

input[type=submit]:hover {
  color: #ffffff;
  background-color: #d6a544;
}

.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    margin-top: 60%;
    margin-right: 10%;
    margin-left: 10%;
    position: absolute;

}

.heading{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h4{

 text-align: center;
 margin-top: 45%;
 font-size: 18px;
 text-decoration: none;
 font-weight: 500;
 position: absolute;
 text-align: center;
 margin-left: 40%;


}

#line{
border-left: 3rem;
border-bottom: 2px solid #d6a544;
padding-bottom: 1rem;
width: 3rem;
margin: auto;
}

h6{

text-align: center;
font-size: 16px;
text-decoration: none;
font-weight: 500;
}


.projects{
 position: absolute;
 z-index: -1;
 margin-top: 5rem;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
}

.container2 {
 position: relative;
 width: 35%;
 margin: 1rem;

}

.image2 {
 display: block;
 width:20rem;
 height: auto;
 margin-left: auto;
 margin-right:auto;
}

.paras{
  margin-left: 15%;
  margin-right: 15%;
  font-size: 15px;
  font-weight: 350;
  line-height: 1.6em;
  text-align: center;

}

p{
  margin-bottom: 2rem;
  margin-top: -1rem;
}

.image{
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 90%;
  align-items: center;
  display: block;
}

.greyback{

  font-size: 15px;
  font-weight: 350;
  line-height: 1.6em;
  background-color: #F2F1F1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;


}

.leftgrey{
justify-content: center;
padding-left: 5rem;
padding-right: 3rem;
width: 100%
}

.rightgrey{
justify-content: center;
padding-right: 1rem;
padding-left: 5rem;
width: 100%
}

#greyheading{

  padding-top: 3rem;
  justify-content: center;
}

.greylist{
  line-height: 4rem;
  padding-bottom: 3rem;
  list-style-type: none;
  justify-content: center;
  width: 100%;

}

.smallgrey{

  font-size: 15px;
  font-weight: 350;
  line-height: 1em;
  background-color: #F2F1F1;
  width: 100%;
  display: block;


}

.greylistsmall{
  line-height: 2rem;

  list-style-type: none;
  justify-content: left;

  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

}

.jumbo2 {
margin-top: -15px;
top: 0;
width: 100%;
height:

  text-align: center;
  background: linear-gradient(
                     rgba(20,20,20, .90),
                     rgba(20,20,20, .90)),
                     url( '../Images/dp.jpg');

  margin-bottom: : 200px;
  padding-bottom: 100px;
  padding-top: 50px;
  background-size: cover;
  height: 47rem;
  text-shadow: 0.25px 0.25px 0.25px #000000;

}

.whitetext{

  color: white;
  font-size: 15px;
  font-weight: 350;
  line-height: 1.6em;
  margin-left: auto;
  padding-top: 2%;
  margin-right: auto;
  text-align: center;
}

img[src="Images/chart.png"]{
  margin-left: 10%;
  margin-right: auto;
  margin-top: 5%;
  width: 80%;
  height: auto;
  position: relative;

}

img[src="Images/rec1.png"]{
  margin-left: 10%;
  margin-top: 13%;
  width: 80%;
  height: auto;
  position: relative;
}

footer{
background-color: #383838;
height: 6rem;
}



.socialnav{

  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  background-color: #383838;
}

nav .socialnav a{
  background-color: #383838;
}

.icon{
  width: 25px;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: -1rem;
  padding-bottom: 1rem;
  background-color: #383838;

}

.copywright {

  left: 0;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  padding-top: 1rem;
  color: white;

  position: relative;
  margin-top: 1.5rem;
 background-color: #383838;
 text-align: center;

}



}

@media screen and (min-width: 651px) and (max-width: 1000px){

  .jumbo2 {
  margin-top: -45px;
  top: 0;
  width: 100%;
  height:65rem;

    text-align: center;
    background: linear-gradient(
                       rgba(20,20,20, .90),
                       rgba(20,20,20, .90)),
                       url( '../Images/dp.jpg');

    margin-bottom: : 200px;
    padding-bottom: 100px;
    padding-top: 50px;
    background-size: cover;

    text-shadow: 0.25px 0.25px 0.25px #000000;

  }

  .whitetext{

    color: white;
    font-size: 15px;
    font-weight: 350;
    line-height: 1.6em;
    margin-left: auto;
    padding-top: 2%;
    margin-right: auto;
    text-align: center;
  }

  img[src="Images/chart.png"]{
    margin-left: 10%;
    margin-right: auto;
    margin-top: 1%;
    width: 80%;
    height: auto;
    position: relative;

  }

  img[src="Images/rec1.png"]{
    margin-left: 10%;
    margin-top: auto;
    width: 80%;
    height: auto;
    position: relative;
  }

  .image2 {
   display: block;
   width:40rem;
   height: auto;
   margin-left: auto;
   margin-right:auto;
  }


}
